#card{
    display:flex ;
    position: relative;
    width: 170px;
    height: 250px;
    /*margin-right: 7px;*/
    margin-top: 20px;
    float: left;
    border-radius: 5px;
    justify-content: center;
    flex-wrap: wrap;
    /*margin-bottom: 20px;*/
    cursor: pointer;
    background-color: rgba(39, 39, 39, 0.9) ;
    
}

#card:hover{
    animation: cardOnHover;
    animation-duration: 1s;
    width: 177px;
    height: 257px;
    
}

@keyframes cardOnHover{
    0%{width: 170px;height: 250px;}
    100%{width: 175px;height: 257px;}
}


#mainShop{
    width:100%;
    display: flex;
    float: left;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left:-40px;
    margin-bottom: 100px;
}


#img-container{
    border-radius: 4px;
    width: 90%;
    height: 70%;
    margin-top: 7px;
    position: relative;
    border: 1px solid rgba(80, 80, 80, 0.7);
    background-color: rgba(80, 80, 80, 0.7);
}

a{
    text-decoration: none;
    color: white;
}

