#current{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#current-container{
    display: block;
    width: 500px;
    height: 500px;
    border: 2px black solid;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
}

#descriptionImg{
    position: relative;
    width: 90%;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

ul{
    list-style: none;
}

#preferences{
    border: 1px dotted gray;
    border-radius:3px ;
    width: 35%;
    float: left;
    margin-left: 10%;
    padding-left: 5px;
    padding-right: 15px;
    padding-bottom: -10px;
}

#price{
    color:rgb(202, 202, 202);
    -webkit-text-stroke: #2e2e2e 1px;
    font-size: 25px;
    margin-top: -12px;
}



#actionButtons{
    border: 1px dotted gray;
    border-radius:3px ;
    width: 35%;
    margin-left: 54%;
    margin-top: 15px;
    height: 100px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.actionButton{
    height: 46px;
    margin-bottom: 8px;
    width: 100%;
    background: linear-gradient(62deg,#ddba1d,#464242);
    cursor: pointer;
    border: 1px solid black;
    border-radius:2px ;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(20, 46, 56);

}



#description-container{
    border: 1px dotted gray;
    width: 80%;
    margin: 0 auto;
    margin-top: 35px;
    padding: 10px;
    margin-bottom: 20px;
}

@media all and (max-width : 484px){
    #current-container{
        display: block;
        width: 270px;
        height: 280px;
        border: 2px black solid;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 20px;
    }
    #actionButtons{
        border: 1px dotted gray;
        border-radius:3px ;
        width: 29%;
        margin-left: 61%;
        margin-top: 15px;
        height: 100px;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .actionButton{
        height: 46px;
        margin-bottom: 8px;
        width: 100%;
        background: linear-gradient(62deg,#ddba1d,#464242);
        cursor: pointer;
        border: 1px solid black;
        border-radius:2px ;
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
        color: rgb(20, 46, 56);
    }
}


@keyframes actionButtonsAnimation{
    0%{background: linear-gradient(62deg,#ddba1d,#464242);color:rgb(20, 46, 56) ;}
    50%{background: linear-gradient(117deg,#ddba1d,#464242);color:rgb(20, 46, 56) ;}
    100%{background: linear-gradient(152deg,#464242,#ddba1d); color: black;}
}

.actionButton:hover{
    animation: actionButtonsAnimation;
    animation-duration: 0.3s;
    background: linear-gradient(152deg,#464242,#ddba1d);
    color: black;
}